body {
  /* background-color: #D2DBBA; */
  margin: 0;
}

.section-landing-page {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 600px;
  padding-left: 10%;
  position: relative;
  top: 180px;
}

.landing-page {
  display: flex;
  justify-content: space-between;
}

.title-name, .q1-title {
  font-size: 60px;
}

.title-name h1, .q1-title h1, .section-q1-page p, .q2-title h1, .q2-title p {
  font-family: "Inter", sans-serif;
}

.title-name h1, .q1-title h1, .q2-title h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 850;
}

.title-name h1 {
  color: #9DA17F;
}

.title-name h1:not(:first-child){
  float: left;
  /* display: inline; */
  margin-top: 0;
}

.title-name h1:nth-child(3){
  color: #262B27;
  /* float: left; */
  padding-left: 3%;
}

.mascot-logo {
  /* background-color: yellow; */
  width: 40%;
  position: relative;
  top: 10.5rem;
  padding-left: 0;
  padding-right: 200px;
}

.section-landing-page p {
  color: #405A3F;
  width: 30rem;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.front-page-but, .q1-input, .q1-but, .back-but, .submit-but, .q2-input, .q2-but {
  height: 40px;
  border-radius: 17px;
  font-size: 15px;
}

.front-page-but {
  width: 230px;
  background-color: #E9E9E9;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  box-shadow: 1.5px 2px 0px 1.5px rgba(147, 135, 135, .7);
  border: #c1b0b0;
  color: #4F5E50;
}

.front-page-but:hover {
  box-shadow: none;
  transform: translate(1px, 1px);
  transition-duration: 100ms;
}

.button-div {
  padding-top: 20px;
  padding-left: 80px;
}

.mascot1 {
  width: 680px;
}

#prompt-search-input {
  width: 230px;
  height: 40px;
  background-color: #E9E9E9;
  color: #4F5E50;
  border-radius: 17px;
  box-shadow: 1.5px 2px 0px 1.5px rgba(147, 135, 135, .7);
  border: #c1b0b0;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

/* ------------------------------------------------------------------------------------- */

.q1-page, .q2-page {
  display: flex;
}

.q1-title {
  padding-top: 5%;
}

.q1-title h1 {
  color: #756D7D;
}

.section-q1-page p, .q2-title p {
  font-weight: bolder;
  font-size: 25px;
}

.section-q1-page p {
  color: #A0A0A0;
}

.width-class {
  /* width: 250px; */
}

.mascot-logo2 {
  padding-top: 12%;
  padding-right: 7%;
  width: 600px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400; 
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #5b5f5b;
}

.list-item {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 1fr) 100px;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 4px;
}

.item-name, .track-artists {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toggle-button button {
  justify-self: end;
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: bolder;
}


.q1-input, .q2-input {
  background-color: white;
  color: #5b5f5b;
  border: #E9E9E9;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
}

.q1-input {
  width: 300px;
  box-shadow: 1.5px 2px 0px 1.5px #545082;
}

.q1-but, .back-but, .submit-but, .q2-but {
  box-shadow: 1.5px 2px 0px 1px #A0A0A0;
  background-color: white;
  color: #A0A0A0;
  border: #E9E9E9;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  width: 200px;
}

.back-but {
  margin-right: 10px;
}

.q1-but {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

/* .prompt-search {
  display:"flex", flexDirection:"column", height:60, width:200
} */

/* ------------------------------------------------------------------------------------- */

.q2-title {
  padding-left: 5%;
  padding-top: 22%;
}

.q2-title h1 {
  color: #998473;
  font-size: 90px;
}

.q2-title p {
  color: #A79D94;
}

.mascot-logo3 {
  width: 600px;
}

/* .section-q2-page div {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.q2-input {
  margin-top: 8%;
  margin-left: 15%;
  width: 300px;
  box-shadow: 1.5px 2px 0px 1.5px #826B50;
}

.q2-but {
  margin-top: 30%;
  margin-left: 24%;
}



