body {
  background-color: #D2DBBA;
}

section {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 600px;
  padding-left: 10%;
  position: relative;
  top: 180px;
}

.landing-page {
  display: flex;
  justify-content: space-between;
}

.title-name {
  font-size: 60px;
}

.title-name h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #9DA17F;
  font-family: "Inter", sans-serif;
  font-weight: 850;
}

.title-name h1:not(:first-child){
  float: left;
  /* display: inline; */
  margin-top: 0;
}

.title-name h1:nth-child(3){
  color: #262B27;
  /* float: left; */
  padding-left: 3%;
}

.mascot-logo {
  /* background-color: yellow; */
  width: 40%;
  position: relative;
  top: 10.5rem;
  padding-left: 0;
  padding-right: 200px;
}

p {
  color: #405A3F;
  width: 30rem;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 300;
}

button {
  width: 230px;
  height: 40px;
  background-color: #E9E9E9;
  color: #4F5E50;
  border-radius: 17px;
  box-shadow: 1.5px 2px 0px 1.5px rgba(147, 135, 135, .7);
  border: #c1b0b0;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

button:hover {
  box-shadow: none;
  transform: translate(1px, 1px);
  transition-duration: 100ms;
}

.button-div {
  padding-top: 20px;
  padding-left: 80px;
}

img {
  width: 680px;
}

#prompt-search-input {
  width: 230px;
  height: 40px;
  background-color: #E9E9E9;
  color: #4F5E50;
  border-radius: 17px;
  box-shadow: 1.5px 2px 0px 1.5px rgba(147, 135, 135, .7);
  border: #c1b0b0;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
}